p{
    color:#106193;
    background-color:rgb(192,214,228);
    font-family: 'Borel', cursive;
    font-size:16px;
    font-weight:100;
    line-height:1.2em;

    padding:50px;
    margin:50px;
    border:2px solid green;
}
h3{
    text-align: center;
    color:blueviolet;
    font-weight:800;
    font-size:50px;
    padding:50px;
    border:3px solid white;
    margin:10px
}
img{
    
}